<div class="container">
  <hr />
  <h1>PM ( angular routing )</h1>
  <hr />

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/new">Add-New-Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/list">View-Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
    </li>
  </ul>

  <hr />

  <router-outlet></router-outlet>

</div>