<hr/>
<div class="mt-3 d-flex justify-content-between">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active"
         [routerLink]="['/todo-list/all']">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active"
         [routerLink]="['/todo-list/active']">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active"
         [routerLink]="['/todo-list/completed']">Completed</a>
    </li>
  </ul>
  <button class="btn btn-danger" (click)="handleClearCompleted()">clear completed</button>
</div>
<hr/>
