<div appHighlight="violet" defaultColor="grey" #catbox class="card card-body">
    <div class="row">
        <div class="col-4">
            <button (click)="toggleImgVisibility($event)" class="btn btn-sm btn-dark">toggle-img</button>
            <img *ngIf="isImgVisibile" class="img-fluid" [src]="image" />
        </div>
        <div class="col-4">
            Name : {{name}}
            <hr />
            {{time}}
        </div>
        <div class="col-4">
            <button (click)="handleTouch()">touch</button>
        </div>
    </div>
</div>