<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header">Login Form</div>
      <div class="card-body">
        <form>
          <div>
            <div class="form-group">
              <label>Email:</label>
              <input class="form-control">
            </div>
            <div class="form-group">
              <label>Password:</label>
              <input type="password" class="form-control">
            </div>
            <br/>
            <button class="btn btn-dark">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
