

<div class="container">

  <hr/>
  <h1>{{title}}</h1>
  <hr/>

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/shop">shop</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/customer-register">Customer-Register</a>
    </li>
  </ul>

  <hr/>

  <router-outlet></router-outlet>

</div>
